*{
    padding: 0;
    margin: 0;
}

body{
    background-color: purple;
}

.container {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
}

h2 {
    color:black;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    width: 200px;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 8px;
}

button {
    padding: 10px 20px;
    background-color: pink;
    color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    font-size: 18px;
}
